.parent
{
    display: flex;
    flex-direction: row;
}
.cell
{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.icon
{
    display: table-row-group;
}
.dis.p
{
    display: table-row;
}